<h1>Departments#index</h1>

<ul>
  <% @departments.each do |d| %>
    <li>
      <%= d.name %>: <%= link_to "Products",
        department_products_path(params[:current_date], d) %>
    </li>
  <% end %>
</ul>
