<h1>Products#show</h1>

<ul>
  <li>Name: <%= @product.name %></li>
  <li>Code: <%= @product.code %></li>
  <li>Model number: <%= @product.model_number %></li>
  <li>Description: <%= @product.description %></li>
</ul>
